fastapi
uvicorn
pydantic
google-generativeai
pymupdf
chromadb
langchain-chroma
python-dotenv
langchain
langchain-community
langchain-google-genai>=2.0.0
langchain-huggingface
langchain-text-splitters
sentence-transformers>=2.7.0
streamlit
pytesseract
docx2txt
pillow
sqlalchemy
langchain-groq
langgraph
pytest
python-multipart

